.page-header {
  background-color: #333;
  margin-top: 0;
  padding: 20px 20px 20px 0px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  padding: 0px 0px 0px 10px;
  color: #ffffff;
  font-size: 36pt;
  text-decoration: none;
}

.main-body {
  background-color: #222;
  overflow: hidden;
}

.home_page_button {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 40px 40px 40px 40px;
  width: 300px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  margin-right: 20px;
}

.side-by-side {
  display:inline-block;
}

.cv-field input {
  display:inline-block;
  width: 300px;
}

.cv-field-small input {
  display:inline-block;
  width: 150px;
}

.cv-field-wide input {
  display:inline-block;
  width: 500px;
}

.active, .home_page_button:hover {
  background-color: #555;
}

/* Add a background color on hover */
.btn-toolbar button:hover {
  background-color: #555;
}

h1, h2, h3, h4, p {
  font-size: 20pt;
  color: #ffffff;
  font-family: 'monospace';
}

.cv_fields {
  padding: 0px 0px 0px 20px;
}

.date {
  color: ffffff;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

.post {
  margin-bottom: 10px;
}

.post h2 a, .post h2 a:visited {
  color: #ffffff;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0px 0px 0px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  padding: 0px 0px 0px 20px;
}

.active:after {
  content: "\2212";
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #444;
  padding: 0px 0px 0px 20px;
}

.collapsible-content p, .collapsible h1 {
  color: #ffffff;
  font-family: 'monospace';
  font-size: 14pt;
}
